.radiofield-check {
	display: flex;
	align-items: center;
}

.radiofield-check__input {
	display: none;
}

.radiofield-check__label {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 20px;
	height: 20px;

	border: 1px solid var(--border-color);
	border-radius: 4px;

	transition: 0.25s linear;
}

.radiofield-check__title {
	margin-left: 12px;
}

.radiofield-check__input:checked ~ .radiofield-check__label {
	border-color: var(--primary-color);
}

.radiofield-check__input:checked ~ .radiofield-check__label i {
	display: inline-block;
	background: url("../../assets/images/Sprites.64af8f61.svg") no-repeat -899px -316px;
	width: 11px;
	height: 8px;
}

.radiofield {
}

.radiofield.radiofield--sm .radiofield__input__wrap {
	min-height: 32px;
	max-height: 32px;
}

.radiofield.radiofield--lg .radiofield__input__wrap {
	min-height: 40px;
	max-height: 40px;
}

.radiofield__label {
	display: inline-block;
	font-weight: var(--font-bold);
	margin-bottom: 8px;
}

.radiofield__input__wrap {
	display: flex;
	align-items: center;

	column-gap: 12px;

	height: 36px;
}

.radiofield__input__icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;

	border: 1px solid var(--border-color);
}

.radiofield__input__item {
	display: flex;
	align-items: center;
}

.radiofield__input {
	display: none;
}

.radiofield__input:focus ~ .radiofield__input__icon {
	box-shadow: 0 0 16px black;
}

.radiofield__input:checked ~ .radiofield__input__icon {
	background: url(../../assets/icons/radio-checked.png) no-repeat center
		center;
}

.radiofield__input__label {
	font-weight: var(--font-medium);
	margin-left: 8px;

	margin-top: 2px;
}

.radiofield__error {
	visibility: hidden;
	font-size: 12px;
	color: var(--error-color);
}
