@import url(./main.css);
@import url(./components/sidebar.css);
@import url(./components/header.css);
@import url(./components/table.css);
@import url(./components/button.css);
@import url(./components/combobox.css);
@import url(./components/contextmenu.css);
@import url(./components/datepicker.css);
@import url(./components/select.css);
@import url(./components/input.css);
@import url(./components/dialog.css);
@import url(./components/form.css);
@import url(./components/checkbox.css);
@import url(./components/radio.css);
@import url(./components/toast.css);

.container {
	display: grid;
	grid-template-columns: var(--sidebar-width) calc(
			100% - var(--sidebar-width)
		);

	height: 100vh;
}

.container.container--sidebar-close {
	grid-template-columns: var(--sidebar-close-width) calc(
			100% - var(--sidebar-close-width)
		);
}

.container.container--sidebar-close .header {
	width: calc(100% - var(--sidebar-close-width));
}

.body {
	margin-top: var(--header-height);

	height: calc(100vh - var(--header-height));

	padding: 24px;
	background-color: var(--background-color);
}

.overlay {
	position: fixed;

	inset: 0;

	background-color: rgba(0, 0, 0, 0.4);

	z-index: 99;

	display: flex;
	align-items: center;
	justify-content: center;
}
