.form {
	position: relative;
	min-width: 900px;
	max-width: 900px;

	background-color: white;

	border-radius: 4px;
}

.form__header {
	display: flex;
	align-items: center;

	padding: 24px;
}

.form__heading {
	font-size: 26px;
	font-weight: var(--font-bold);
	margin-right: 16px;
}

.form__header__user-type {
	display: flex;
	align-items: center;

	column-gap: 24px;
}

.form__header__user-type__item {
	display: flex;
	align-items: center;
}

.form__header__user-type__item input[type="radio"] {
	display: none;
}

.form__header__user-type__item__icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 20px;
	height: 20px;

	border: 1px solid var(--border-color);
	border-radius: 4px;

	margin-right: 12px;

	transition: 0.25s linear;
}

.form__header__user-type__item
	input:checked
	~ .form__header__user-type__item__icon {
	border-color: var(--primary-color);
}

.form__header__user-type__item
	input:checked
	~ .form__header__user-type__item__icon
	i {
	display: inline-block;
	background: url("../../../assets/images/Sprites.64af8f61.svg") no-repeat -899px -316px;
	width: 11px;
	height: 8px;
}

.form__header__button {
	display: flex;
	align-items: center;

	column-gap: 10px;

	margin-left: auto;

	cursor: pointer;
}

.form__header__button__question {
	position: relative;
	background: url("../../../assets/images/Sprites.64af8f61.svg") no-repeat -89px -145px;
	width: 22px;
	height: 22px;
}

.form__header__button__close {
	position: relative;
	background: url("../../../assets/images/Sprites.64af8f61.svg") no-repeat -147px -147px;
	width: 18px;
	height: 18px;
}

.form__header__button__close::before {
	display: none;
	content: "";

	position: absolute;
	bottom: -10px;
	left: 50%;

	transform: translateX(-50%);

	border: 10px solid;
	border-color: transparent transparent #38393d transparent;
}

.form__body {
	padding: 24px;

	max-height: calc(100vh - 280px);
	min-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.form__body::-webkit-scrollbar-track {
	border-radius: 4px;
}

.form__body::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

.form__body::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--disable-text-color);
}

.form__body:hover::-webkit-scrollbar-track {
	display: block;
}

.form__body:hover::-webkit-scrollbar {
	display: block;
}

.form__body:hover::-webkit-scrollbar-thumb {
	display: block;
}

.form__row {
	row-gap: 15px;
}

.form__action {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 12px 24px;

	background-color: #f5f5f5;

	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.form__action__group {
	display: flex;
	align-items: center;
	column-gap: 8px;
}
