.a-side-bar {
	background-color: #38393d;

	max-width: 100%;

	overflow-x: hidden;
	overflow-y: auto;
}

.a-side-bar::-webkit-scrollbar-track {
	border-radius: 4px;
}

.a-side-bar::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

.a-side-bar::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--disable-text-color);
}

.a-side-bar.a-side-bar--close .a-side-bar__header {
	padding: 0;
}

.a-side-bar__header {
	display: flex;
	align-items: center;

	padding: 0 12px;

	height: var(--header-height);

	position: sticky;
	left: 0;
	right: 0;
	top: 0;

	background-color: #393a3e;
}

.a-side-bar__header__icon {
	display: inline-block;
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -428px -92px;
	width: 16px;
	height: 16px;

	margin-right: 16px;
}

.a-side-bar__header__logo {
	height: 36px;
}

.a-side-bar__header__open {
	display: flex;

	width: 48px;
	height: 52px;

	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.a-side-bar__header__open i {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -316px -37px;
	width: 16px;
	height: 14px;
}

.a-side-bar__menu {
	margin-top: 20px;
}

.a-side-bar__item {
	display: flex;
	align-items: center;

	cursor: pointer;

	height: 44px;

	padding: 10px 0 10px 12px;

	margin-bottom: 4px;
	border-left: 4px solid transparent;

	transition: 0.25s linear;
}

.a-side-bar__item:hover {
	background-color: var(--hover-dark);
}

.a-side-bar__item.active {
	background-color: var(--hover-dark);

	border-color: var(--primary-color);
}

.a-side-bar__item__icon {
	width: 24px;
	height: 24px;
	margin-right: 12px;

	display: flex;
	align-items: center;
	justify-content: center;

	flex-shrink: 0;
}

.a-side-bar__item__icon .icon1 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -33px -1630px;
	width: 18px;
	height: 20px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon1,
.a-side-bar__item.active .a-side-bar__item__icon .icon1 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -33px -1587px;
}

.a-side-bar__item__icon .icon2 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -78px -1631px;
	width: 14px;
	height: 18px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon2,
.a-side-bar__item.active .a-side-bar__item__icon .icon2 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -78px -1588px;
}

.a-side-bar__item__icon .icon3 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -121px -1633px;
	width: 16px;
	height: 16px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon3,
.a-side-bar__item.active .a-side-bar__item__icon .icon3 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -121px -1590px;
}

.a-side-bar__item__icon .icon4 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -165px -1632px;
	width: 16px;
	height: 18px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon4,
.a-side-bar__item.active .a-side-bar__item__icon .icon4 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -165px -1589px;
}

.a-side-bar__item__icon .icon5 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -206px -1631px;
	width: 20px;
	height: 18px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon5,
.a-side-bar__item.active .a-side-bar__item__icon .icon5 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -206px -1588px;
}

.a-side-bar__item__icon .icon6 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -254px -1632px;
	width: 14px;
	height: 17px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon6,
.a-side-bar__item.active .a-side-bar__item__icon .icon6 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -254px -1589px;
}

.a-side-bar__item__icon .icon7 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -294px -1632px;
	width: 18px;
	height: 17px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon7,
.a-side-bar__item.active .a-side-bar__item__icon .icon7 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -294px -1589px;
}

.a-side-bar__item__icon .icon8 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -339px -1633px;
	width: 18px;
	height: 17px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon8,
.a-side-bar__item.active .a-side-bar__item__icon .icon8 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -339px -1590px;
}

.a-side-bar__item__icon .icon9 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -382px -1632px;
	width: 17px;
	height: 18px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon9,
.a-side-bar__item.active .a-side-bar__item__icon .icon9 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -382px -1589px;
}

.a-side-bar__item__icon .icon10 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -427px -1634px;
	width: 16px;
	height: 16px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon10,
.a-side-bar__item.active .a-side-bar__item__icon .icon10 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -427px -1591px;
}

.a-side-bar__item__icon .icon11 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -471px -1633px;
	width: 17px;
	height: 17px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon11,
.a-side-bar__item.active .a-side-bar__item__icon .icon11 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -471px -1590px;
}

.a-side-bar__item__icon .icon12 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -296px -1662px;
	width: 14px;
	height: 18px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon12,
.a-side-bar__item.active .a-side-bar__item__icon .icon12 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -340px -1662px;
}

.a-side-bar__item__icon .icon13 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -382px -1664px;
	width: 16px;
	height: 16px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon13,
.a-side-bar__item.active .a-side-bar__item__icon .icon13 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -427px -1664px;
}

.a-side-bar__item__icon .icon14 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -552px -1636px;
	width: 14px;
	height: 13px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon14,
.a-side-bar__item.active .a-side-bar__item__icon .icon14 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -552px -1593px;
}

.a-side-bar__item__icon .icon15 {
	display: inline-block;

	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -207px -1667px;
	width: 17px;
	height: 14px;
}

.a-side-bar__item:hover .a-side-bar__item__icon .icon15,
.a-side-bar__item.active .a-side-bar__item__icon .icon15 {
	background: url("../../../assets//images/Sprites.64af8f61.svg") no-repeat -251px -1667px;
}

.a-side-bar__item__text {
	color: var(--text-white);
	transition: 0.25s linear;

	margin-top: 2px;
}
